<style>
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300);

body{
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
}

#notebook {
  font-size: 1.1em !important;
  font-weight: 100;
}

a {
	color: #497285;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 100 !important;
  font-size: 1.2 em;
}

.CodeMirror{
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

div.prompt{
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: crimson;
                             font-size: 150%; }
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: black; }
.renderjson .number        { color: #0CCA98; }
.renderjson .boolean       { color: #5E366A; }
.renderjson .key           { color: #497285; }
.renderjson .keyword       { color: #2B4450; }
.renderjson .object.syntax { color: #3FBAC2; }
.renderjson .array.syntax  { color: #F78536; }

</style>
